:root {
    --primary: #1363c6;
    --secondary: #9B9B9B;
    --light: #F5F5F5;
    --dark: #161616;
	--orange: #65B530;
}

.text-primary {
    color: #1363c6 !important;
}

.btn-primary {
    color: #fff;
    background-color: #06db00;
    border-color: #06db00;
}
.btn-light:hover {
	background: transparent;
	color: #ffffff;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.btn-outline-primary {
    color: #1363c6;
    border-color: #1363c6;
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #1363c6;
    border-color: #1363c6;
}



/* about btn */
.btn-primary:hover {
    color: #000;
    background-color: #1363c6;
    border-color: #1363c6;
}



/* footer btn */
.btn-primary:hover {
    color: #ffffff;
    background-color: #1363c6;
    border-color: #1363c6;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar {
    padding: 11px 0 !important;
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: rgba(0, 0, 0, .7);
    outline: none;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #AB7442;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: #ffffff;
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/*** Hero ***/

.hero-header {
    margin-top: -75px;
    background: url(../img/Hero.jpg) center center no-repeat;
    background-size: cover;
}

.untree_co-hero, .bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; 
}

.untree_co-hero.overlay, .bg-img.overlay {
    position: relative; 
}

.untree_co-hero.overlay:before, .bg-img.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19, 106, 213, 0.60);
  z-index: -0; 
}
.untree_co-hero > .container, .bg-img > .container {
  position: relative;
  z-index: 2; 
}
.untree_co-hero, .untree_co-hero > .container > .row, .bg-img, .bg-img > .container > .row {
  height: 100vh;
  min-height: 650px; 
}
@media (max-width: 767.98px) {
  .untree_co-hero, .untree_co-hero > .container > .row, .bg-img, .bg-img > .container > .row {
    min-height: 750px; 
  } 
}
.untree_co-hero.inner-page, .untree_co-hero.inner-page > .container > .row, .bg-img.inner-page, .bg-img.inner-page > .container > .row {
  height: 50vh;
  min-height: 450px; 
}
@media (max-width: 767.98px) {
  .untree_co-hero.inner-page, .untree_co-hero.inner-page > .container > .row, .bg-img.inner-page, .bg-img.inner-page > .container > .row {
	min-height: 450px; 
  } 
}
.untree_co-hero .caption, .bg-img .caption {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1rem; 
}
.untree_co-hero .heading, .bg-img .heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.4; 
}
@media (max-width: 991.98px) {
    .untree_co-hero .heading, .bg-img .heading {
        font-size: 30px; 
	} 
}
.untree_co-hero .link-highlight, .bg-img .link-highlight {
    color: #ffffff;
    position: relative;
    display: inline;
    -webkit-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
.untree_co-hero .link-highlight:hover, .bg-img .link-highlight:hover {
    -webkit-box-shadow: 0 2px 0 0 white;
    box-shadow: 0 2px 0 0 white; 
}
.untree_co-hero .desc, .bg-img .desc {
    font-size: 18px;
    max-width: 450px; 
}
@media (max-width: 991.98px) {
    .untree_co-hero .desc, .bg-img .desc {
        margin: 0 auto; 
	} 
}
.untree_co-hero .cta-section, .untree_co-hero .cta-section > .container > .row, .bg-img .cta-section, .bg-img .cta-section > .container > .row {
    height: 70vh;
    min-height: 450px; 
}

/*** Facts ***/
.facts {
    background: rgba(19, 106, 213, 0.60);
}

/*** Skills ***/

.skillbar {
  margin: 0.5em 0;
  width: 100%;
  border-radius: 15px;
  background-color: #d1e8e2;
}

.progress-bar {
      width: 0%;
      height: 30px;
      background-color: #FFBD39;
      text-align: center;
      line-height: 30px;
      color: black;
	  border-radius: 15px;
      transition: width 0.5s ease-in-out;
    }





/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, .7);
    transition: .5s;
}

.portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel {
    display: flex !important;
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial-carousel .owl-dots .owl-dot {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot::after {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
    transition: .5s;
    opacity: 0;
}

.testimonial-carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
}

.testimonial-carousel .owl-dots .owl-dot img {
    border-radius: 60px;
    opacity: .4;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}


/* contact section start */
.contact_section{
    width: 100%;
    float: left;
}
.contact_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1a1919;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.contact_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252424;
    text-align: center;
    margin: 0px;
}

.mail_section_1 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4f4e4e;
    border: 1px solid #8e8e8e;
    background-color: #ffff;
    padding: 15px;
    margin-top: 20px;
}
.message-bt {
    color: #4f4e4e;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #ffff;
    padding: 40px 15px 0px 15px;
    border: 1px solid #8e8e8e;
    height: 110px;
    margin-top: 20px;
}
.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.send_bt a {
    width: 100%;
    float: left;
    background-color: #1363c6;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    font-size: 16px;
    margin-top: 40px;
}
.send_bt a:hover {
    background-color: #06db00;
    color: #ffffff;
}


/* copright section start */
.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}
.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #0b0b0c;
    text-align: center;
    margin-left: 0px;
}
.copyright_text a {
    color: #0b0b0c;
}
.copyright_text a:hover {
    color: #a24e3d;
}
/* copyright section end */

.margin_top{
    margin-top: 90px;
}



/*** Footer ***/

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,0.5);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgba(255,255,255,0.5);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}

.footer .btn.btn-square:hover {
    color: var(--secondary);
    border-color: var(--light);
	color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: var(--primary);
}